.wrapper {
  text-align: center;
  padding-top: 20px;
}

.buttons {
  position: absolute;
  margin: -15px 5px 0 275px;
}

.measure {
  font-size: 0.5rem;
  cursor: pointer;
}

.green {
  color: lightgreen;
}
