.Card {
  padding: 20px 24px;
  width: 216px;
  height: 210px;
  /* margin: 24px 12px 12px 12px; */
  margin-right: 24px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #eee;
  background-color: #fff;
}
